<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="portable45-net45+win8+wp8" />
  <package id="Ionic.Zlib" version="1.9.1.5" targetFramework="portable45-net45+win8+wp8" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="portable45-net45+win8+wp8" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="portable45-net45+win8+wp8" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable45-net45+win8+wp8" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable45-net45+win8+wp8" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable45-net45+win8+wp8" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="Portable.ConcurrentDictionary" version="1.0.4" targetFramework="portable45-net45+win8+wp8" />
  <package id="Rx-Core" version="2.2.4" targetFramework="portable45-net45+win8+wp8" />
  <package id="Rx-Interfaces" version="2.2.4" targetFramework="portable45-net45+win8+wp8" />
  <package id="Rx-Linq" version="2.2.4" targetFramework="portable45-net45+win8+wp8" />
  <package id="Rx-PlatformServices" version="2.2.4" targetFramework="portable45-net45+win8+wp8" />
</packages>