<div class="col-md-12" ng-controller="AppstatusCtrl">
    <span class="fa fa-question-circle fa-4x" ng-hide="hasMachines"></span>
    <ul id="machine-status" ng-repeat="machine in machines">
        <li id="machine-status" class="fa fa-laptop">
            {{machine.Tenant}}
        </li>
        <ul>
            <li class="list-unstyled" ng-repeat="status in machine.systems">
                <span class="fa fa-cloud" ng-class="{error: status.system.status == '1', infor: status.system.status == '0'}"></span>[{{status.system.version}}] <span id="machine-status-application">{{status.system.systemName}}</span> <div id="machine-status-last-update" am-time-ago="status.System.Timestamp"></div>
                <div class="fa fa-gears" style="padding-left: 20px"> {{status.system.ipAddress}}</div>
                <div style="padding-left: 20px" ng-repeat="meta in status.meta">
                    <div class="fa fa-inbox"> {{meta.key}} : {{meta.value}}</div>          
<!--                    
                    <div class="fa fa-bar-chart" ng-class="{error: meta.cpuAverage > '70' || meta.memAverage > '89', infor: meta.cpuAverage < '70' || meta.memAverage < '89'}" ng-if="meta.cpuAverage != null"> CPU: [{{meta.cpuAverage | number:1}}%] RAM: [{{meta.MemAverage | number:1}}%] Threads: [{{meta.Threads}}] TaskPool: [{{meta.AppThreadsSize}} / {{meta.AppThreadsMax}}]</div>
                    <div class="fa fa-gears" ng-if="meta.toProcess != null"> Synced: {{meta.total - meta.toProcess}} / {{meta.total}} [{{meta.sourceTotal}}] ({{((meta.total - meta.toProcess) / meta.total) * 100 | number: 2}}%)</div>
                    <div class="fa fa-gears" ng-if="meta.lastSync != null && meta.duration == null"> Last Sync: {{meta.count}} records <span am-time-ago="meta.lastSync"></span></div>
                    <div class="fa fa-gears" ng-if="meta.duration != null"> Last Sync: {{meta.Count}} records ({{meta.Duration | duration: 'seconds':'1'}}) <span am-time-ago="meta.lastSync"></span></div>
                    <div class="fa fa-gears" ng-if="meta.inFlight != null"> InFlght/Discarded: {{meta.inFlight}} / <span ng-class="{error: meta.discarded !== '0', infor: meta.discarded == '0'}">{{meta.discarded | number:0}} </span><span id="machine-status-last-update" am-time-ago="meta.LastUpload"></span></div> -->
                </div>
                <div style="padding-left: 20px" ng-repeat="meta in status.meta | filter: onlyQueues">
                    <div class="fa fa-inbox" ng-if="meta.queueName != null"> {{meta.queueName}} : {{meta.queueCurrent}} / {{meta.queueSize}}</div>
                </div>
            </li>
        </ul>
    </ul>
</div>