<div class="col-md-12" ng-controller="AllmodulesCtrl">
    <ul class="nav nav-pills nav-stacked ">
        <li class="btn btn-group fa-4x">
            <a ui-sref="applicationStatus">
                <span class="fa fa-cloud text-muted"></span>
            </a>
        </li>
        <li class="btn btn-group fa-4x">
                <a ui-sref="appStatus">
                    <span class="fa fa-cloud"></span>
                </a>
        </li>
        <li class="btn btn-group">
            <a ui-sref="errors">
                <span class="fa fa-chain-broken fa-4x"></span>
            </a>
        </li>
        <li class="btn btn-group">
            <a ui-sref="metrics">
                <span class="fa fa-bar-chart-o fa-4x"></span>
            </a>
        </li>
        <li class="btn btn-group">
            <a ui-sref="systemLog">
                <span class="fa fa-list-alt fa-4x"></span>
            </a>
        </li>
        <li class="btn btn-group">
            <a ui-sref="remoteCommand">
                <span class="fa fa-caret-square-o-right fa-4x"></span>
            </a>
        </li>
        <li class="btn btn-group">
            <a ui-sref="updates">
                <span class="fa fa-cloud-download fa-4x"></span>
            </a>
        </li>
    </ul>
</div>
